# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Archivos temporales y de logs
*.log
*.tmp
*.bak
*.swp

# Archivos de compilación de ESP-IDF
build/
sdkconfig.old
sdkconfig.defaults
*.bin
*.elf
*.map

# Python (si usas scripts)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Archivos de entorno
.env
.env.*

# Otros
*.local