# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Node.js
node_modules/
npm-debug.log

# Salidas de compilación
build/
dist/
out/

# Archivos de entorno
.env
.env.*

# Otros
*.local